<!DOCTYPE html>
<html lang="en" >

    <head >
        <title >{{data.welcome.title}}</title >
        <meta charset="utf-8" >
        <meta name="viewport"
              content="width=device-width, initial-scale=1" >
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script >
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script >
        <style >
            html {
                height : 100%;
            }

            body {
                min-height : 100%;
            }

        </style >
    </head >
    <body class="mx-2" >
        {{#data.welcome.entries}}
        <div class="container" >

            <!--<h1 >{{title}}</h1 >-->
            <!--<p class="lead" >{{text}}</p >-->
            <!--<hr />-->
            {{#alerts}}
            <div class="alert alert-{{default color 'primary'}}  "
                 role="alert" >
                {{default text 'defaultText'}}
            </div >
            {{/alerts}}


            {{#texts}}
            <h{{default
            size
            '2'}}>{{default title 'defaultTitle'}}</h{{default size '2'}}>
            <p class="text-{{default align 'left'}} text-{{default color 'primary'}}" >
                {{default text 'defaultText'}} </p >
            {{/texts}}
            {{#buttons}}
            <div class="container" >
                <div class="row" >
                    <a class="btn col-sm  btn-{{default color 'primary'}}"
                       href="{{default link '#'}}"
                       role="button" >{{default label 'defaultLabel'}}</a >
                    <span class="col-sm" >{{description}}</span >
                </div >
            </div >
            {{/buttons}}

        </div >
        {{/data.welcome.entries}}

        <div  class="container" >
            Callback Data:
            {{#each data.callback}}
            Key: {{@key}}={{this}} <br />
            {{/each}}
        </div >

    </body >

</html >
