<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{data.welcome.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        html {
            height: 100%;
        }


        body {
            min-height: 100%;
        }

    </style>
</head>


<body>
<h1> {{data.welcome.title}}</h1>
<p>{{data.welcome.text}}</p>
</body>

</html>